<app-header></app-header>

    <div class="container">
        
        <form [formGroup]="editarForm3" (ngSubmit)="postForm(editarForm3.value)">
            <div class="form-group">
                <label for="exampleFormControlInput1"> ID</label>
                <input type="text" class="form-control" placeholder="Identificacion" formControlName="id">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> Fecha</label>
                <input type="text" class="form-control" placeholder="Fecha" formControlName="date">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> Hora</label>
                <input type="text" class="form-control" placeholder="Hora" formControlName="time">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> Cliente</label>
                <input type="text" class="form-control" placeholder="ID cliente" formControlName="attendedClient">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> Numero de placa </label>
                <input type="text" class="form-control" placeholder="Placa" formControlName="licensePlate">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> Branch ID </label>
                <input type="text" class="form-control" placeholder="Branch ID" formControlName="branchID">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> Servicio requerido </label>
                <input type="text" class="form-control" placeholder="Numero de servicio" formControlName="requiredService">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> Mecanico encargado </label>
                <input type="text" class="form-control" placeholder="ID mecanico" formControlName="mechanicId">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> Asistente encargado </label>
                <input type="text" class="form-control" placeholder="ID asistente" formControlName="assistantId">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> Partes necesarias </label>
                <input type="text" class="form-control" placeholder="Partes a pedir" formControlName="necessaryParts">
            </div>
            <br>
            <button class="col btn btn-lg btn-purple-moon btn-rounded">Guardar</button>
            <button class="col btn btn-lg btn-ultra-voilet btn-rounded" (click)="eliminar">Eliminar</button>
        </form>
    </div>


<app-footer></app-footer>