<app-header></app-header>

<div class="container">

    <h2>Menú principal</h2><br>

    <button type="button" class="btn btn-primary" (click)="gestionEmpleado()"> Gestionar empleados </button>
    <button type="button" class="btn btn-primary" (click)="gestionCliente()"> Gestionar clientes </button>
    <button type="button" class="btn btn-primary" (click)="gestionCitas()"> Registro de citas </button>
    <button type="button" class="btn btn-primary" (click)="gestionFacturacion()"> Facturacion </button>

</div>

<app-footer></app-footer>