<app-header></app-header>

<div class="container">

    <h2>Menú principal</h2><br>

    <a href="#" class="btn btn-block btn-success" (click)="gestionEmpleado()"><span class="glyphicon glyphicon-user"></span> Gestión de Empleados</a>
    <a href="#" class="btn btn-block btn-warning" (click)="gestionCliente()"><span class="glyphicon glyphicon-stats"></span> Gestión de Clientes</a>
    <a href="#" class="btn btn-block btn-info" (click)="gestionCitas()"><span class="glyphicon glyphicon-book"></span> Registro de Citas</a>
    <a href="#" class="btn btn-block btn-danger" (click)="gestionFacturacion()"><span class="glyphicon glyphicon-tags"></span> Facturación</a>

</div>

<app-footer></app-footer>